* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    background-color: rgb(228, 234, 241);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(158, 105, 105);
    position: fixed;
    color: rgb(61, 133, 242);
}