* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.9vw;
}

a,
li {
    text-decoration: none;
    list-style-type: none;
}

.boxcenter {
    width: 70%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}

.mb {
    margin-bottom: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr {
    margin-right: 2%;
}

.demo {
    background-color: antiquewhite;
    min-height: 100px;
}

.header {
    background-color: forestgreen;
    border: 1px #090 solid;
    font-size: 1vw;
    color: blue;
    border-radius: 5px;
}

.header h1 {
    margin: 20px;
    font-size: 1.2vw;
}

.menu {
    display: flex;
    background-color: black;
    color: #ccc;
    border-radius: 5px;
}

.boxright {
    float: left;
    width: 24%;
}

.boxleft {
    float: left;
    width: 74%;
}

.footer {
    background-color: forestgreen;
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
}

.title {
    color: #333;
    padding: 10px;
    background-color: #EEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px #CCC solid;


}

.content {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 15px;
}

.content2 {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    min-height: 200px;
    background-color: #eee;
}

.boxfooter {

    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px #CCC solid;
}

.banner {
    min-height: 300px;
    width: 100%;
    text-align: center
}

.banner img {
    width: 100%;
    height: 400px;
}

.produst {
    float: left;
    width: 32%;
    min-height: 350px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.produst .boximg {
    min-height: 230px;
    text-align: center;
}

.produst p {
    margin: 10px 0;
    padding-left: 10px;
    font-size: 15px;
}

.produst a {
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.boximg a {
    padding: 0;
}

.boximg img {
    margin-top: 10px;
    width: 210px;
    height: 280px;
    transition: 1s;
}


.boximg img:hover {
    transition: 0.6s;
    transform: scale(1.1)
}

.menu ul {
    padding: 0 15px;
}

.menu ul li {
    list-style: none;
    display: inline;
    padding: 0 15px;
}

.menu ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: white;
    font-size: 1vw;

}

/* box tài khoản*/
.sign_in {
    line-height: 150%;
}

.sign_in input[type="password"],
.sign_in input[type="text"],
.fromcontent input[type="text"] {
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
}

.sign_in input[type="checkbox"] {
    border: 1px #ccc solid;
}

.sign_in input[type="submit"],
.fromcontent input[type="submit"],
.fromcontent input[type="reset"] {
    border: 1px #ccc solid;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc solid;
    border-radius: 5px
}

.sign_in input[type="submit"]:hover,
.fromcontent input[type="reset"]:hover {
    background-color: #ccc;
}

.sign_in li a {
    color: teal;
    text-decoration: none;
}

.sign_in li a:hover {
    color: blue;
    text-decoration: underline;
}

.list_sp ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list_sp ul li {
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px #ccc solid;
}

.list_sp ul li a {
    color: #666;
    text-decoration: none;
}

.list_sp ul li:hover {
    background-color: #ccc;
}

.seachbox input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    background-color: white;
    border: 1px #ccc #ccc solid;
    border-radius: 5px;
}

.top10 img {
    width: 25%;
    height: 50px;
    float: left;
    margin-right: 10%;
    border-radius: 5px;
    border: 1px solid;
}

.top10 a {
    color: #666;
    text-decoration: none;
}

.top10 a:hover {
    color: #660;
    text-decoration: underline;
}

/* Addmin*/
.headeraddmin {
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #666;
    border-radius: 5px;
    padding: 0 20px;
}

.headeraddmin h1 {
    font-size: 2vw;
}

.fromtitle {
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #666;
    border-radius: 5px;
    padding: 0 20px;
}

.fromcontent {
    overflow-y: scroll;
    padding: 20px 0;

}

.fromlist table {
    width: 100%;
    overflow-x: scroll;
}

.content table {
    width: 100%;
    border-collapse: initial;
}



.content table th,
.fromlist table th {
    padding: 10px;
    background: gray;
    padding: 6px 2px;
    background: #090;
    border: none;
}



/* .fromlist table th:nth-child(2) {
    width: 20%;
    background: #090;
}

.fromlist table th:nth-child(3) {
    width: 40%;
    background: #090;
}

.fromlist table th:nth-child(4) {
    width: 20%;
    background: #090;
} */

.content table td,
.fromlist table td {
    padding: 6px 2px;
    border: 1px #999 solid;
    border: none;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2s;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.size p {
    font-size: 15px;
}

.size img {
    margin: auto;
    padding: 0;
    width: 500px;
}

.content_sp {
    display: grid;
    grid-template-columns: auto auto auto;
}

.items_sp {
    margin: 15px 10px;
}

.items_sp img {
    height: 100px;

}

.items_sp li {
    list-style: none;

}

.items_sp li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    transition: 0.5s;
}

.items_sp li a:hover {
    color: red;
}

form .sign_up,
form .name_tk {
    width: 200px;
    display: flex;
}

.user,
.email {

    margin-right: 10px;
}

.pass input,
.user input,
.phone input,
.email input {
    width: 280px;
    height: 30px;
    border-radius: 5px;
}

.address input {
    width: 570px;
    height: 30px;
    border-radius: 5px;

}

.signup_bt {
    width: 90px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
}

.signup_bt:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px)
}

.signup_bt:active {
    box-shadow: none;
    transform: translateY(0);
}

.notify {
    color: #090;
}

.icon {
    right: 0;
    font-size: 20px;
}

.delete input,
.edit input {
    width: 40px;
    height: 20px;
    background: blue;
}

.bill input {
    width: 120px;
    height: 40px;
    background-color: #e55039;
}

.size {
    display: flex;
}

.img-items img {
    width: 400px;
}

.detail {
    margin-left: 5%;
}

.detail p {
    color: red;
    font-size: 30px;
}

.detail h2 {
    font-size: 2rem;
}

i {
    width: 150px;
    height: 40px;
    border: 1px solid orangered;
    text-align: center;
    padding-top: 10px;
    background-color: #ec6c58;
}

i input {
    background-color: #ec6c58;
    border: 0;
}

i input:hover {
    background-color: #ee4d2d;

}

i:hover {
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: rgba(244, 3, 3, 0.973) 0 8px 15px;
    transform: translateY(-2px)
}

.edit input {
    width: 50px;
    height: 30px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 4px;
}

.delete input {
    width: 50px;
    height: 30px;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
}

.delete input:hover {
    color: #fff;
    background-color: red;
    box-shadow: rgba(240, 3, 3, 0.978) 0 8px 15px;
    transform: translateY(-2px)
}

.edit input:hover {
    color: #fff;
    background-color: blue;
    box-shadow: rgba(9, 1, 240, 0.978) 0 8px 15px;
    transform: translateY(-2px)
}

.statistical input {
    width: 150px;
    height: 40px;
    background-color: red;
    border: 1px solid red;
    border-radius: 4px;
}

.statistical input:hover {
    color: #fff;
    background-color: rgb(141, 16, 116);
    box-shadow: rgba(216, 32, 237, 0.978) 0 8px 15px;
    transform: translateY(-2px)
}

.input {
    padding: 10px;
    margin: 10px;
}


/* css from Minh */
/* table css */
:root {
    --red--color: rgb(223, 69, 45);
    --blue-color: rgb(65, 99, 232);
}

a,
li {
    text-decoration: none;
    list-style-type: none;
}

.wrapper {
    width: 70%;
    margin: 0px auto;
}

table {
    margin: 40px auto;
    padding: 12px;
    box-shadow: 1px 1px 1px 1px #999;
    border-radius: 6px;
    max-width: 100%;
    overflow-y: scroll;
    /* width: 90%; */
}

td,
th {
    padding: 8px 4px;
    text-align: start;
    min-width: 120px;
    max-width: 300px;
    border: 1px solid #999;
}

th {
    border: 1px solid;
}

tr {
    border: 1px solid #000;
}

td.bigCol {
    width: 500px;
}

.showTime {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.showTime-box {
    margin: 2px 4px;
    border: 2px solid;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #666;
}

.action-box {
    display: flex;
}

.btn {
    padding: 6px 16px;
    margin: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
}

.btn a {
    color: white;
}

.btn-red {
    color: white;
    background-color: var(--red--color);
}

.btn-blue {
    color: white;
    background-color: var(--blue-color);
}

/* form css */
.form-content {
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 1px 2px 2px 1px #999;
    border-radius: 12px;
}

.input-wrap {
    margin: 20px 10px;
}

.input-wrap label {
    display: block;
    margin: 10px 0px;
    padding: 0 12px;
    font-size: 1rem;
    font-weight: 700;
}

.input-wrap input {
    outline: none;
    padding: 12px;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: rgba(153, 153, 153, 0.1);
}

.input-wrap select {
    width: 100%;
    padding: 6px 2px;
}